.movie-list-container{
    flex:1;
    border-right: 1px solid var(--primary);
}

.movie-list{
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.movie-item{
    list-style: none;
    padding: 10px;
    border-bottom: 2px solid var(--primary);
    cursor: pointer;
}

.movie-item-div{
    display: flex;
}

.release-date,.episode-number{
    color: var(--tertiary);
}

.movie-title{
    margin: 0 20px;
    flex-grow: 1;
}