.movie-list{
    font-size: 1em;
    padding: 0;
    margin: 0;
    flex: 1;
    border-right: 1px solid #cac9c9;
}

.movie-item{
    list-style: none;
    padding: 10px;
    border-bottom: 2px solid #cac9c9;
    cursor: pointer;
    display: flex;
}

.release-date,.episode-number{
    color: #949292;
}

.movie-title{
    margin: 0 20px;
    flex-grow: 1;
}