.filter-container{
    padding: 10px;
    column-gap: 10px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
  }
  
  .movie-container{
    display: flex;
    flex-grow: 1;
  }