#root {
  min-width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filter-container{
  background-color: #dddddd;
}

.movie-container{
  display: flex;
  flex-grow: 1;
}