#root {
  min-width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filter-container{
  padding: 10px;
  column-gap: 10px;
  background-color: #dddddd;
  display: flex;
  align-items: center;
}

.movie-container{
  display: flex;
  flex-grow: 1;
}